<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-6">
		<div class="alert alert-danger" ng-show="message !== ''">{{message}}</div>
		<div class="row">
	    	<h3>Register as a user</h3>
	  	</div>
	  	<form name="registerForm">
		  	<div class="form-group col-xs-12">
		    	<label for="email ">Email</label>
		    	<input type="email" class="error form-control" name="email" placeholder="Enter email" ng-model="username" 
		    	required >
		  	</div>
			<div class="form-group col-xs-6">
		    	<label for="password">Password</label>
		    	<input type="password" class="error form-control" ng-minlength="6" name="password" placeholder="Enter password" ng-model="password" required >
		  	</div>
			<div class="form-group col-xs-6">
		    	<label for="exampleInputEmail1">Confirm password</label>
		    	<input type="password" ng-minlength="6" class="error form-control" name="passwordConfirm" placeholder="Confirm password" 
		    		required ng-model="confirmPassword" >
		  	</div>
		  	<div class="form-group">
		    	<input type="button" class="btn btn-success btn" value="Register" ng-click="register()" 
		    		ng-disabled="!registerForm.$valid" >
		  	</div>
		</form>
	</div>
	<div class="col-md-4">
	</div>
</div>